*

!.gitignore
!starship.toml
!chrome-flags.conf

!hypr/
!hypr/**
hypr/custom/colors.lua

!noctalia/
!noctalia/**

!solaar/
!solaar/**
solaar/config.yaml

!ideavim/
!ideavim/**

!fish/
fish/*
!fish/config.fish
!fish/functions
!fish/functions/**

!/kitty/
kitty/*
!/kitty/kitty.conf

!/nchat/
nchat/*
!/nchat/app.conf
!/nchat/key.conf
!/nchat/ui.conf

!nvim/
!nvim/**
nvim/lua/plugins/colors.lua

!yazi/
!yazi/**
yazi/theme.toml

!noctalia/
!noctalia/**

!btop/
!btop/**

!xdg-desktop-portal/
!xdg-desktop-portal/**

!xdg-desktop-portal-termfilechooser/
!xdg-desktop-portal-termfilechooser/**

!cpupower_gui/
!cpupower_gui/**

!sddm-theme/
!sddm-theme/**
sddm-theme/theme.conf
sddm-theme/assets/background.jpg
sddm-theme/assets/avatar.jpg
