*

!.gitignore
!starship.toml
!chrome-flags.conf

!hypr/
!hypr/**

!noctalia/
!noctalia/**

!solaar/
!solaar/**

!ideavim/
!ideavim/**

!fish/
fish/*
!fish/config.fish

!inkscape/
inkscape/*
!inkscape/preferences.xml

!/kitty/
kitty/*
!/kitty/kitty.conf

!/nchat/
nchat/*
!/nchat/app.conf
!/nchat/key.conf
!/nchat/ui.conf

!nvim/
!nvim/**
nvim/lua/plugins/colors.lua

!yazi/
!yazi/**
yazi/theme.toml
