*

!.gitignore
!starship.toml
!chrome-flags.conf

!hypr/
!hypr/**
hypr/custom/colors.lua

!noctalia/
!noctalia/**

!solaar/
!solaar/**

!ideavim/
!ideavim/**

!fish/
fish/*
!fish/config.fish

!inkscape/
inkscape/*
!inkscape/preferences.xml

!/kitty/
kitty/*
!/kitty/kitty.conf

!/nchat/
nchat/*
!/nchat/app.conf
!/nchat/key.conf
!/nchat/ui.conf

!nvim/
!nvim/**
nvim/lua/plugins/colors.lua

!yazi/
!yazi/**
yazi/theme.toml

!noctalia/
!noctalia/**

!btop/
!btop/**

!tide-island/
!tide-island/**

!xdg-desktop-portal/
!xdg-desktop-portal/**

!xdg-desktop-portal-termfilechooser/
!xdg-desktop-portal-termfilechooser/**
